@page
@model ABCHardware_Project.Pages.ProcessSaleModel
@{
    ViewData["Title"] = "Process Sale";
    var data = 0;
}
@section ProcessSalescriptContent
    {
    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
@section ProcessSalesContent{

    <section class="divHeader">
        <h1> Process Sale</h1>
        <div>
            <form name="SampleForm" method="post">
                <div>
                    <br />
                    <p class="modelMessage">Please insert Last Name before process Sales</p>
                    <input asp-for="FindLastName" class="inputText" class="inputText" />
                </div>

                <div>
                    <br />
                    <input type="submit" name="Submit" value="Find Customer" asp-page-handler="FindCustomer" class="buttons">
                </div>
                <section class="messages">
                    <br />

                    <span asp-validation-for="FindLastName" class="modelMessage"></span>
                </section>

            </form>


        </div>
    </section>
    <br />
    <br />
    <section class="divHeader">
        @if (Model.customers != null)
        {
            <form name="SampleForm" method="post">
                <div>
                    <br />
                    <label for="_SalePerson"> SalePerson : </label> <br />
                    <input asp-for="_SalePerson" id="_SalePerson" class="inputText" placeholder="Insert SalePerson Name" />
                </div>
                <div>
                    <br />
                    <lable for="_CustomerID">Select Exists Student ID :  </lable>
                    <select asp-for="TestTest" itemid="_CustomerID" style="width:100%;height:30px;">

                        <option value="" class="selectionProgramCode" name="">Select customer</option>

                        <!-- Loop through Model.CustomerInfo to generate options -->
                        @foreach (var customer in Model.customers)
                        {
                           
                            <!-- Use a unique value for the option, and display the necessary information -->
                            <option value="@customer.CustomerID" class="selectionProgramCode" name="selectedValue">
                                @($"{customer.CustomerID} - {customer.FirstName} {customer.LastName} - {customer.Address}")
                            </option>
                               
                        }
                    </select>

                </div>


@*                <div>
                    <br />
                    <label for="TestTest">TestTest:</label> <br />
                    <input asp-for="TestTest" id="TestTest" class="inputText" value="@Model.selectedValue" />
                </div>*@
                <div>
                    <br />
                    <input type="submit" name="Submit" value="GetItems" asp-page-handler="GetItems" class="buttons">
                </div>

            </form>

        }
    </section>
    }
